@media screen and (max-width: 1200px) 
{
	.doc-block-text
	{
		text-align: left;
	}
	.stat-block h2
	{
		font-size: x-large;
	}
	.main-content
	{
		text-align: center;
	}
	.stat-block
	{
		/*text-align: left;*/
	}
	.slider-container
	{
		margin-right: 40px;
	}
	.main-develop
	{
		text-align: center;
	}
	.main-develop-block 
	{
		margin: 10px 0;
	}
	.slider-container
	{
		margin-left: 40px;
	}
	.main-develop-block:not(:first-child):not(:last-child)
	{
		margin: 10px 0;
	}
	.main-bounty
	{
		text-align: center;
	}
	.main-bounty-text
	{
		text-align: left;
	}
	.main-bounty-block, .main-bounty-block:not(:first-child):not(:last-child)
	{
		margin: 20px 5px;
	}

}
@media screen and (max-width: 1000px) 
{
	.stat-block
	{
		width: calc(90% / 3);
	}
	.slider-text-block h2
	{
		font-size: large;
	}
	.slider-text-block p
	{
		line-height: 20px;
	}
	.nav-list
	{
		width: 78%;
    	margin-left: 5px;
	}
	.nav-list a {
	    font-weight: bold;
	    padding: 30px 1%;
	    font-size: .9em;
	    vertical-align: middle;
	    color: #fff;
	}
	.nav-buttons-block
	{
		width: 15%;
	}
	.main-bounty-block {
	    width: calc(92% / 2);
	}
	.preview-block
	{
		width: 90%;
	}
	.question-block, .answer-block
	{
		width: 90%;
		margin: 20px 0;
	}
}

@media screen and (max-width: 800px) 
{
	.doc-block-text p{
		text-align: justify;
	}
	.doc-block-text
	{
		text-align: center;
	}
	.question-block, .answer-block
	{
		text-align: center;
	}
	.preview-block
	{
		width: 100%;
	}
	.doc-block-text
	{
		width: 100%;
		margin-bottom: 50px;
	}
	.doc-block-image
	{
		width: 100%;
	}
	.main-bounty-page .main-bounty-content
	{
		height: auto;
	}
	.bounty-wrapper
	{
		background: rgba(0,0,0,.7);
	    display: inline-block;
	    width: 90%;
	    vertical-align: middle;
	    padding: 10% 5%;
	}
	.main-bounty-page.text-right .main-bounty-content, .main-bounty-page.text-left .main-bounty-content
	{
	    background-position: center;
	    background-size: cover;
	    text-align: center;
	    padding: 0;
	    color: #fff;
	}	
	.main-content
	{
		padding-top: 80px;
	}
	.stat-block
	{
		width: calc(90% / 2);
	}
	.partner-content
	{
		display: inline-block;
		width: 80%;
	}
	.partner-image
	{
		display: inline-block;
		width: calc(90% / 3);
    	height: 100px;
    	background-size: 55%;
	}
	.nav-menu-mobile
	{
		display: block;
	}
	.nav-menu-block
	{
		display: none;
	}
	.menu-full
	{
		display: none;
	}
	.close
	{
		display: block;
	}
	.modal
	{
		width: calc(100vw - 100px);
	    height: 100vh;
	    right: 0;
	    left: 0;
	    top: 0;
	}
	.ajax_form.af_example
	{
		height: 100vh;
	}
}

@media screen and (max-width: 600px) 
{
	/*.parallax-mirror
	{
		display: none;
	}
	.slider
	{
		background-image: url(slide.jpg);
	}*/
	.stat-block
	{
		width: 90%;
	}
	.main-possibility
	{
		display: block;
	    height: 100%;
	}
	.possibility-main-block
	{
		display: block;
	    position: relative;
	    width: 100%;
	    height: 300px;
	    margin: 10px 0;
	}
	.possibility-content-block
	{
		opacity: 1;
    	visibility: visible;
	}
	.possibility-text-block
	{
		top: 10px;
		width: 92%;
	}
	.possibility-main-block:hover .possibility-text-block
	{
		top: 10px;
	}
	.main-bounty
	{
		text-align: center;
	}
	.main-bounty-block
	{
		width: 100%;
	}
	.main-bounty-text
	{
		padding: 0 5%;
	}
	.main-bounty-img
	{
		height: 150px;
	}
	.main-bounty-block, .main-bounty-block:not(:first-child):not(:last-child)
	{
		margin: 30px 0;
	}
	.social-links
	{
		display: block;
	    text-align: center;
	    height: 100%;
	    margin: -2px 0;
	}
	.social-links a
	{
		display: inline-block;
	    height: 75px;
	    width: 100%;
	    margin: -2.5px 0;
	    background-size: 10%;
	}
	.footer-content
	{
		text-align: center;
		padding: 30px 0;
	}
	.footer-content > a
	{
		display: block;
    	margin: 20px 0;
	}
}
@media screen and (max-width: 500px) 
{
	.stat-block
	{
		width: 90%;
	}
	.partner-image
	{
		width: calc(90% / 2);
	}
	.partner-carousel
	{
		height: 300px;
	}
	.prev-arrow, .next-arrow
	{
		bottom: 135px;
	}
}