/*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #efefef;
	box-shadow: 0 0 1px 0.1px #aaa inset;
}
::-webkit-scrollbar-thumb {
	background: #2164a8;
}
::selection {
	background: #2164a8;
	color: #fff;
	text-shadow: none;
	cursor: text;
}*/
*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'PT Sans', sans-serif;
	background: #fff;
}
a
{
	outline: none;
	text-decoration: none;
	color: #000;
}
.back-image, .back-full
{
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(logo_developers_golos.png);
}
.back-image
{
	background-size: contain;
}
.back-full
{
	background-size: cover;
}
.block-center
{
	max-width: 1200px;
	margin: auto;
}
.href-block
{
	display: block;
	width: 100%;
	height: 100%;
}
.for-href-block a
{
	display: block;
	width: 100%;
	height: 100%;
}
.ul-href-block a
{
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	transition: .2s background, .2s color;
}
.ul-href-block a:hover
{
	background: #efefef;
	color: #f72626;
}
.align-top
{
	display: inline-block;
	vertical-align: top;
}
.align-mid
{
	display: inline-block;
	vertical-align: middle;
}
.table-block{
	display: table-cell;
	vertical-align: middle;
}

.wrapper{
    display: none;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1002;
    cursor: pointer;
}
.modal{
    top: 20%;
    bottom: 10%;
    right: 45%;
    left: 35%;
    text-align: center;
    z-index: 2000000001;
    position: fixed;
    display: none;
}
.close
{
	display: none;
    position: absolute;
    top: 2%;
    right: 50px;
    cursor: pointer;
}

.ajax_form.af_example .controls input,
.ajax_form.af_example .controls textarea {
    width: 100%;
}
.ajax_form .error {
    color: brown;
	font-size: small;
	display: block;
}
.ajax_form .form-group{
    margin-bottom: 10px;
}
.ajax_form.af_example{
	width: 100%;
    margin: auto;
    background: rgba(255,255,255,1);
    padding: 50px;
    position: relative;
}
.ajax_form .form-group input, .ajax_form .form-group textarea{
	box-shadow: 0 0 1px #000 inset;
}
#main-form{
    overflow: hidden;
}
#main-form textarea, #main-form input{
	border: 0;
	background: #f9fafb;
}
#main-form textarea::placeholder, #main-form input::placeholder{
	transition: .2s color;
}
#main-form textarea:focus, #main-form input:focus{
	outline: none;
}
#main-form textarea{
    display: block;
    width: 95%;
	height: 50px;
	resize: none;
	padding: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 10px;
}

#main-form input{
	padding: 10px;
    margin-top: 3px;
	width: 96%;
	font-family: 'Roboto Condensed', sans-serif;
}

#main-form input[type="submit"], button{
	background: #2672ba;
	display: block;
	width: 100%;
	color: #fff;
	margin-top: 10px;
	transition: .2s background;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-appearance: none;
	border: none;
	outline: none;
}
#main-form input[type="submit"]:hover, button:hover{
	background: #ef0f0f;
}
button{
    padding: 10px 0;
	font-family: 'Roboto Condensed', sans-serif;
}
#main-form input:focus::placeholder, #main-form textarea:focus::placeholder{
	color: #2672ba;
}
.header
{
	width: 100%;
	background: #fff;
}
.header-logo-block
{
	width: 22%;
	text-align: left;
}
.logo-golos
{
	display: table;
	width: 480px;
	height: 70px;
	margin: 10px;
	margin-top: 11px;
  margin-left: 42px;
	background-position: 15%;
	transition: .2s background-size;
}
.logo-golos a
{
	display: table-cell;
	vertical-align: middle;
	padding-left: 105px;
	font-size: xx-large;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #2164a8;
	transition: .2s color;
}
.logo-golos:hover a
{
	color: #f72626;
}
.logo-github
{
	width: 70px;
	height: 70px;
	margin-right: 10px;
	background-image: url(github.svg);
	background-position: right;
	background-size: 75%;
}
.logo-github div
{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(github-hover.svg);
	background-position: right;
	background-size: 75%;
	opacity: 0;
	visibility: hidden;
	transition: .2s opacity, .2s visibility;
}
.logo-github:hover div
{
	opacity: 1;
	visibility: visible;
}
.header-list-block
{
	width: 76%;
	text-align: right;
}
.header-list-block a:not(.exclude)
{
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	font-size: large;
	font-weight: bold;
	padding: 35px 20px;
	transition: .2s color, .2s background;
}
.header-list-block a:hover:not(.exclude)
{
	background: #efefef;
	color: #f72626;
}
.nav-menu-mobile
{
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	background: #efefef;
	z-index: 10001;
	border-bottom: 2px solid #2164a8;
}
.nav-menu-mobile .logo-mobile
{
    position: absolute;
    left: 0;
	width: 40px;
	height: 40px;
	margin: 5px;
	background-image: url(golos.png);
	background-position: center;
	background-size: 100%;
}
.nav-menu-mobile p
{
    white-space: nowrap;
    overflow: hidden;
    width: 65vw;
    text-align: center;
    margin: 15px auto;
    text-overflow: ellipsis;
    color: #104567;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-menu-mobile a#pull
{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 12.5px;
    right: 10px;
}
.nav-menu-mobile a#pull:after {
    content: "";
    background: url(nav-icon.png) no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}
.nav-menu-mobile .first-level
{
	background: #fff;
    text-align: center;
    border-bottom: 2px solid #F11515;
    height: 50vh;
    overflow-y: scroll;
}
.nav-menu-mobile .first-level a
{
    display: block;
    padding: 3% 0;
    color: #000;
}
.nav-menu-mobile .second-level
{
	background: #000;
    text-align: center;
    border-bottom: 2px solid #2164a8;
}
.nav-menu-mobile .second-level a
{
    display: block;
    padding: 1.5% 0;
    color: #fff;
}
.nav-menu-block
{
	background: #000;
	height: 80px;
	margin-bottom: -1px;
}
.nav-list
{
	margin-left: 20px;
	width: 82%;
	height: 100%;
}
.nav-list a
{
	font-weight: bold;
	padding: 30px 1.5%;
	color: #fff;
}
.nav-buttons-block
{
	width: 14%;
	text-align: right;
}
.nav-buttons-block a
{
	background: #fff;
	border-radius: 50px;
	color: #000;
	width: 150px;
	text-align: center;
	padding: 12px 0;
	font-weight: bold;
	font-size: .85em;
}
.nav-buttons-block a:hover
{
	background: #266fb8;
	color: #fff;
}
.slider
{
	width: 100%;
	height: 500px;
	background-position-y: 20%;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider-container
{
	max-width: 1150px;
}
.slider-text-block
{
	color: #fff;
	height: 500px;
	width: 525px;
}
.slider-text-block h2
{
	font-size: xx-large;
	margin: 30px 0;
}
.slider-text-block p
{
	font-size: .9em;
	margin: 30px 0;
	letter-spacing: 1px;
	line-height: 25px;
}
.main-content
{
	max-width: 1150px;
	margin:	auto;
	padding: 50px 25px;
	min-height: 500px;
}
.main-content h1
{
	text-align: center;
	font-size: -webkit-xxx-large;
}
.stat-content
{
	width: 85%;
}
.stat-block
{
	display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(98% / 4);
    margin: 15px 0;
    background: transparent;
    transition: .2s background;
}
.stat-block a
{
	padding: 50px 6%;
}
.stat-block:hover
{
    background: #efefef;
}
.stat-block h2
{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #000;
    font-size: x-large;
    color: #000;
    transition: .2s color;
}
.stat-block:hover h2
{
	color: #2164a8;
}
.stat-block h2
{
	color: #000;
    transition: .2s color;
}
.stat-block:hover span
{
	color: #f72626;
}
.main-develop-block.back-image
{
	background-position: top;

}
.main-develop-block .main-develop-block-content
{
	transition: .2s background;
}
.main-develop-block.back-image
{
	opacity: 1;
	transition: .2s opacity;
}
.main-develop-block.back-full .main-develop-block-content
{
	background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.1));
	background-size: 1px 460px;
}
.main-develop-block.back-full:hover .main-develop-block-content
{
	background-position: -150px;
}
.main-develop-block.back-image:hover
{
	opacity: .6;
}
.main-develop-block.back-full .main-develop-block-content a
{
	color: #fff;
}
.main-develop-block:not(:first-child):not(:last-child)
{
	margin: 0 19px;
}
.main-develop-block-content
{
	position: relative;
	width: 275px;
	height: 360px;
}
.main-develop-text
{
	position: absolute;
	bottom: 10%;
	left: 10%;
	right: 10%;
}
.main-possibility
{
	display: table;
	width: 100%;
	height: 400px;
}
.possibility-main-block
{
	display: table-cell;
	position: relative;
}
.possibility-content-block
{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	opacity: 0;
	visibility: hidden;
	transition: .5s opacity, .5s visibility;
}
.possibility-main-block:hover .possibility-content-block
{
	opacity: 1;
	visibility: visible;
}
.possibility-text-block
{
	padding: 10% 4%;
}
.possibility-text-block
{
	color: #fff;
	text-align: center;
	position: absolute;
	top: 200px;
	vertical-align: top;
	transition: .3s top;
}
.possibility-text-block p
{
	margin: 25px 0;
	font-size: large;
	font-weight: bold;
}
.possibility-text-block span
{
	font-size: .9em;
	letter-spacing: 1px;
}
.possibility-text-block img
{
	width: 50px;
	height: 50px;
}
.possibility-main-block:hover .possibility-text-block
{
	top: 100px;
}
.main-bounty
{
	max-width: 1200px;
	margin: auto;
}
.main-bounty-block
{
	width: calc(92% / 4);
	position: relative;
}
.main-bounty-block:not(:first-child):not(:last-child)
{
	margin: 0 20px;
}
.main-bounty-block > a
{
	position: absolute;
}
.main-bounty-img
{
	height: 380px;
}
.main-bounty-text h4, .main-bounty-text p
{
	transition: .2s color;
}
.main-bounty-text h4
{
	margin: 20px 0;
}
.main-bounty-text p
{
	font-size: .8em;
	line-height: 20px;
	letter-spacing: 1px;
}
.main-bounty-text span
{
	display: table;
	margin: 20px 0;
	font-weight: bold;
	border-bottom: 2px solid #fff;
	padding-bottom: 2px;
	transition: .2s border;
}
.main-bounty-text a.main-bounty-button, a.doc-button
{
	padding: 5px 8px;
	display: inline;
	border-radius: 5px;
	background: #000;
	color: #fff;
	font-size: .8em;
	text-align: center;
	font-weight: bold;
	border: 2px solid #000;
	transition: .2s color, .2s background;
}
a.doc-button
{
	font-size: 1em;
}
.main-bounty-wrapper
{
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	transition: .2s background;
}
.main-bounty-block:hover .main-bounty-wrapper
{
	background: rgba(0,0,0,.4);
}
.main-bounty-block:hover .main-bounty-text h4
{
	color: #2164a8;
}
.main-bounty-block:hover .main-bounty-text p
{
	color: #f72626;
}
.main-bounty-block:hover .main-bounty-text span
{
	border-bottom-color: #000;
}
.main-bounty-block:hover a.main-bounty-button, a.doc-button:hover
{
	background: #fff;
	color: #000;
}
.main-bounty-page
{
	width: 100%;
	margin: 50px 0;
	background: transparent;
	transition: .2s background;
}
.main-bounty-page:hover
{
	background: #efefef;
}
.main-bounty-page .main-bounty-content, .main-bounty-page .main-bounty-img
{
    width: 50%;
    height: 300px;
    padding: 3% 0;
    vertical-align: middle;
    display: table-cell;
}
.main-bounty-page .main-bounty-img
{
	height: 200px;
}
.main-bounty-page .main-bounty-content h4
{
	font-size: x-large;
}
.main-bounty-page .main-bounty-content h3
{
	font-size: large;
	margin-top: 20px;
}
.main-bounty-page .main-bounty-content p
{
	margin: 30px 0;
}
.main-bounty-page .main-bounty-content span
{
	font-size: .9em;
}
.main-bounty-page.text-left .main-bounty-content
{
	background-position: left;
	background-size: 48%;
	text-align: justify;
	padding-left: 50%;
	padding-right: 3%;
}
.main-bounty-page.text-right .main-bounty-content
{
	background-position: right;
    background-size: 48%;
    text-align: justify;
    padding-right: 50%;
    padding-left: 3%;
}
.main-bounty-page .main-bounty-button
{
	padding: 5px 8px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: .7em;
    text-align: center;
    font-weight: bold;
    border: 2px solid #000;
    transition: .2s color, .2s background;
}
.main-bounty-page .main-bounty-button:hover
{
	background: #fff;
    color: #000;
}
.preview-block
{
	display: block;
    width: 70%;
    margin: auto;
    text-align: center;
}
.question-block, .answer-block
{
	display: block;
    width: 60%;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px 4%;
    border-radius: 100px;
    font-size: .9em;
}
.question-block
{
	margin-right: auto;
	background: #efefef;
	color: #000;
}
.answer-block
{
	margin-left: auto;
	background: #000;
	color: #fff;
}
.question-block span, .answer-block span
{
	font-weight: 600;
	text-transform: uppercase;
}
.doc-page {
    min-height: 400px;
    /*margin-bottom: 50px;*/
}
.doc-page:not(:last-child) .doc-block
{
	padding-bottom: 50px;
    border-bottom: 3px solid #000;
}
.doc-page h2
{
	font-size: xx-large;
	text-align: center;
	margin-bottom: 50px;
}
.doc-block
{
	margin: 50px 0;
}
.doc-block-text
{
    width: 50%;
}
.doc-block-text h3
{
	font-size: x-large;
}
.doc-block-text p
{
	margin: 20px 0;
}
.doc-block-image
{
	width: 49%;
	height: 300px;
	position: relative;
	background: #f5f5f5;
}
.doc-block-image .slide
{
	height: 300px;
}
.bx-pager.bx-default-pager.slider-navigation
{
    text-align: center;
    margin-top: -30px;
    position: relative;
}
.bx-pager-item
{
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}
a.dot
{
	display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    border-radius: 100%;
    transition: .2s background;
}
a.dot.active, a.dot:hover
{
	background: rgba(0,0,0,1);
}
.partner-main-block
{
	text-align: center;
}
.partner-main-block h2
{
	font-size: xx-large;
	text-transform: capitalize;
}
.partner-carousel
{
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 50px;
	overflow: hidden;
}
.partner-content {
    display: inline-block;
    width: 91%;
}
.doc-bx-prev, .doc-bx-next
{
    height: 300px;
    width: 50px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    transition: .2s background;
}
.doc-bx-next
{
	right: 0;
}
.partner-carousel-prev, .partner-carousel-next
{

    display: inline-block;
    vertical-align: top;
   	height: 100%;
    width: 50px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
	transition: .5s background;
}
.partner-carousel-prev
{
	left: 0;
}
.partner-carousel-next
{
	right: 0;
}
.partner-carousel-prev:hover, .partner-carousel-next:hover
{
	background-color: #efefef;
}
.doc-bx-prev:hover, .doc-bx-next:hover
{
	background-color: rgba(0,0,0,.2);
}
.prev-arrow, .next-arrow
{
	border-bottom: 2px solid #000;
	background: transparent;
	width: 20px;
	height: 20px;
	bottom: 95px;
	position: absolute;
}
.doc-bx-prev .prev-arrow, .doc-bx-next .next-arrow
{
	bottom: 145px;
}
.prev-arrow
{
	border-left: 2px solid #000;
	left: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.next-arrow
{
	border-right: 2px solid #000;
	right: 20px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.partner-content
{
	/*display: table;*/
}
.partner-block
{
    display: table;
    position: relative;
    width: 100%;
    height: 200px;
}
.partner-image
{
	display: table-cell;
	-webkit-background-size: 60%;
	-moz-background-size: 60%;
	-o-background-size: 60%;
	background-size: 60%;
	background-color: transparent;
	transition: .5s background-color;
}
.partner-image:hover
{
	background-color: #efefef;
}
.grad-line
{
	max-width: 600px;
	margin: 50px auto;
	height: 1px;
	background: linear-gradient(to right, #fff 0%, #aaa 50%, #fff 100%);
}
.social-links
{
	display: table;
	width: 100%;
	height: 150px;
}
.social-links a
{
	display: table-cell;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 21%;
	background-image: url(golos.png);
	opacity: 1;
	transition: .2s opacity;
}
.social-links a:hover
{
	opacity: .8;
}
.social-links a#fb
{
	background-image: url(fb.svg);
	background-color: #3c5a98;
}
.social-links a#tw
{
	background-image: url(tw.svg);
	background-color: #00aced;
}
.social-links a#vk
{
	background-image: url(vk.svg);
	background-color: #48729e;
}
.social-links a#ok
{
	background-image: url(ok.svg);
	background-color: #ff9f4d;
}
.social-links a#yt
{
	background-image: url(yt.svg);
	background-color: #e62117;
}
.social-links a#ig
{
	background-image: url(ig.svg);
	background-color: #5851db;
}
.social-links a#tg
{
	background-image: url(tg.svg);
	background-color: #08c;
}
.footer
{
	background: #000;
	padding: 50px 0;
	text-align: center;
}
.footer-content
{
	max-width: 1150px;
	margin:	auto;
	padding: 0 25px;
	text-align: left;
	color: #efefef;
}
.footer-content p
{
	margin: 10px 0;
}
.footer a
{
	display: inline;
	margin-right: 5px;
	color: #efefef;
	transition: .2s;
}
.footer a:hover
{
	color: #2575bb;
}
