html {}
body { text-align: center; padding: 0px; }
body { font: 100% Helvetica, sans-serif; color: #333; }
article { display: block; text-align: left; margin: 0 0 0 20px; }
a { color: #1a5099; text-decoration: none; }
a:hover { color: #164584; text-decoration: none; }
p {line-height: 125%;}
.robot {float: left; padding: 10px 0;}
@media (min-width: 768px) {
  body { padding: 25px 0px; }
  article {
    max-width: 768px;
  }
  .robot {padding: 0px 0 500px 0px;}
}